body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

p {
  color: grey;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
}

/* .container-fluid {
  padding: 3rem 15rem 10rem;
} */

.container-fluid {
  padding: 7% 15%;
}

.navbar {
  padding: 0 0 5rem;
}

.iphone-mockup {
  /* 60% of parent div */
  width: 60%;
  transform: rotate(25deg);
  /* adding position to allow z-index in features work */
  position: absolute;
  /* making the right spacing 0 to align with the left content */
  right: 30%;
}

/* @media (max-width: 1100px) {
  .iphone-mockup {
    transform: rotate(0);
    position: static;
    /* margin: 5rem auto 0rem;
    margin-left: 8rem; */
/* margin-top: 3rem; */
/* } */

/* #title {
    text-align: center;
  }
} */

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
}

.nav-item {
  padding: 1rem;
  font-size: 1.2rem;
}

/* .download-button {
  margin: 5rem 2rem 0 0;
} */

.download-button {
  margin: 5% 3% 5% 0;
}

/* feature */
#features {
  padding: 3rem 5rem;
  z-index: 1;
  background-color: white;
  /* adding relative position to allow z-index to work */
  position: relative;
  z-index: 1;
}

.fa-check-circle,
.fa-bullseye,
.fa-heart {
  margin-bottom: 1.4rem;
  color: #ff4c68;
}

.fa-check-circle:hover,
.fa-bullseye:hover,
.fa-heart:hover {
  color: black;
}

.feature-heading {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 2rem;
}

.feature-text {
  color: grey;
}

.feature-box {
  text-align: center;
  padding: 3rem;
}

/* testimonial section */

#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: white;
}

.testimonials-heading {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  border-radius: 100%;
  width: 20%;
  margin: 2.5rem;
}

#press {
  /* background-color: lightgrey; */
  text-align: center;
  padding: 7rem 2rem;
}

em {
  display: block;
  font-size: 1.6rem;
}

.press-logo {
  width: 15%;
  margin: 2.5rem;
}

/* carousel item */

.carousel-item {
  padding: 3rem 12rem;
}

/* pricing */

#pricing {
  text-align: center;
  padding: 5rem;
}

.pricing-heading {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-description {
  margin-bottom: 3rem;
}

.pricing-column {
  padding: 2rem 4rem;
}

.card {
  height: 100%;
}

.card-footer {
  background: transparent;
  border-top: 0px;
}

/* cta and footer*/

#cta {
  background-color: #ff4c68;
  padding: 4rem 2rem;
}

#footer {
  color: white;
  background-color: black;
  padding: 2rem;
}

#cta,
#footer {
  text-align: center;
}

.footer-text {
  font-size: 1.5rem;
}

.cta-heading {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 2.8rem;
  color: white;
  padding-bottom: 2rem;
}

.social-icon {
  margin: 3rem 2rem;
}

/* media query */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .iphone-mockup {
    position: static;
    transform: rotate(0);
  }

  .testimonials-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    /* line-height: 0.3; */
  }

  .carousel-item {
    padding: 1.4rem;
  }

  .press-logo {
    width: 30%;
  }
}
